# Konfigurasi Sistem untuk Railway
# Kita set Python 3.11 agar stabil
[packages]
python311 = "3.11"
ffmpeg = "latest"
libgl1 = "latest"
glib = "latest"

[phases.install]
# Perintah install library Python
# PENTING: Baris kedua akan menghapus 'opencv-python' biasa yang terbawa otomatis
# Agar sistem dipaksa menggunakan 'opencv-python-headless'
cmds = [
    "python -m venv --copies /opt/venv && . /opt/venv/bin/activate && pip install -r requirements.txt",
    ". /opt/venv/bin/activate && pip uninstall -y opencv-python || true"
]

[start]
# Perintah menjalankan aplikasi
cmd = "/opt/venv/bin/python app.py"